---
---
<div class="header z-10 flex justify-between mt-2 mb-3">
    <div class="logo justify-start ml-5">
        <p>Lola Le</p>
    </div>
    <div class="nav justify-end mr-5">
        <a href="/">home</a>
        <a href="/links/">links</a>
    </div>
</div>
