---

---
<div class="header">
    <div class="logo">
        <p>Lola Le</p>
    </div>
    <div class="nav">
        <a href="/">home</a>
        <a href="/links/">links</a>
    </div>
</div>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom:2rem;
    }

    .nav {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }

    .nav a {
        text-decoration: none;
    }

    .nav a:hover {
        text-decoration: underline;
    }

    .nav a:active {
        color: purple;
        text-decoration: line-through;
    }
</style>