@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;   
  font-family: SFMono-Regular, monospace;
  line-height: 1.6;
}

.content {
    margin: 0 20px;

}